#red{
  background-color: #ED462F;
}

#blue{
  background-color: #0048FB;
}

#yellow{
  background-color: #FFF835;
}

#purple{
  background-color: #752E80;
}

#black{
  background-color: #000000;
}

#green{
  background-color: #387804;
}
